body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-m-1 {
    width: 9.6%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
  img {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 9.6%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  img {
    width: 100%;
  }
}

.container {
  width: 50%;
  height: auto;
  background-color: #F1F1F1;
  margin: 0 auto;
  margin-top: 20px;
  box-sizing: border-box;
  padding: 30px;
}

.btn {
  width: 60%;
  margin: 0 auto;
  border: none;
}

.btn input {
  background-color: rgb(242, 180, 86);
}

input {
  box-sizing: border-box;
  width: 90%;
  padding: 10px;
  height: auto;
  font-size: 20px;
}

.error {
  color: red;
  font-weight: bold;
}

.welcome {
  text-align: center;
  color: rgb(242, 180, 86);
  font-weight: bolder;
}
.panel-img{
  height: 50px;
  width: 50px;
}
