body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container {
  height: auto;
  background-color: #F1F1F1;
  margin: 0 auto;
  margin-top: 20px;
  box-sizing: border-box;
}

.panel-img {
  height: 50px;
  width: 50px;
}


ul li {
  padding-left: 50px;
}

.btnn{
  background-color: gray;
  width: 150px;
  margin-left:  200px;
  margin-bottom:   20px;
  margin-top: 10px;
}
.heighLight:hover{
  background-color: #414141;
  cursor: pointer;
  color: white;
}
.show{
  padding-top: 17px;
  padding-bottom: 17px;
}
